{
  "extends": ["react-app", "react-app/jest", "prettier"],
  "rules": {
    "no-console": "warn",
    "no-var": "error",
    "prefer-const": "warn",
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-double"],
    "indent": ["warn", 2],
    "max-len": ["warn", { "code": 120 }],
    "comma-dangle": ["warn", "never"],
    "semi": ["warn", "always"],
    "no-multiple-empty-lines": "warn"
  }
}
