.not_found {

  .container {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  .title {
    color: #fff;
    font-size: 46px;
    font-weight: bold;
    text-align: center;

    @media (max-width: 1024px) {
      font-size: 36px;
    }

    @media (max-width: 576px) {
      font-size: 20px;
    }

  }

}
