.not_found {

  .container {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  .title {
    color: #fff;
    font-size: 46px;
    font-weight: bold;
    text-align: center;

    @media (max-width: 1024px) {
      font-size: 36px;
    }

    @media (max-width: 576px) {
      font-size: 20px;
    }

  }

}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button {
  border: 1px solid rgb(229, 231, 235);;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  padding: 10px 32px;
  background: transparent;

  &:hover {
    background: rgba(255, 255, 255, 0.05);
  }

}
